.genres {
  display: flex;
  gap: 12px;
  span {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 100;
    font-size: 0.74rem;
    padding: 3px 8px;
    border-radius: 6px;
  }
}
