.movie-card {
  height: 220px;
  width: 100%;
  background-color: rgba(61, 61, 61, 0.7);
  border-radius: 4px;
  display: flex;
  padding: 6px;
  .image-container {
    img {
      height: 100%;
      border-radius: 2px;
    }
  }
  .content-container {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    .movie-title {
      font-size: 1.4rem;
    }
    hr {
      margin: 12px 0px;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(61, 61, 61, 0.8);
  }
}
