<div
  class="main-body"
  [class.min-body]="resultsLoaded"
  [ngStyle]="{
    'background-image': activeMovie
      ? 'url(' + activeMovie.background_image + ')'
      : 'linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.95)), url(../assets/pxfuel.jpg)',
    'background-size': 'cover',
    'background-repeat': 'no-repeat'
  }"
>
  <div class="search-container">
    <img src="../assets/mainlogo.svg" alt="" />
    <span class="title">Movie Cop</span>
    <div class="result-info">
      Search Results: {{ movies.length }} Movies Found for '{{ term }}'
    </div>
    <app-search (onResult)="updateResult($event)"></app-search>
  </div>
  @if (resultsLoaded) {
  <div class="movie-list-container">
    <app-movie-list
      [movies]="movies"
      (onClick)="updateInfo($event)"
    ></app-movie-list>
    <app-movie-info [movie]="activeMovie"></app-movie-info>
  </div>
  }
</div>
<router-outlet></router-outlet>
