.movie-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 100px - 16px);
  overflow-y: auto;
  padding: 0px 6px 0px 24px;
}

//scrollbar css
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #3f3f3f;
}
::-webkit-scrollbar-thumb {
  background: #4f60aa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8292da;
}
