$background-primary: #161616;

html{
 box-sizing: border-box;
 
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
  background: $background-primary;
  color: white;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}

//scrollbar css
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #3f3f3f;
}
::-webkit-scrollbar-thumb {
  background: #4f60aa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8292da;
}
@media only screen and (max-width: 576px){

}